* {
  background: #000;
  color: #B9891B;
  margin: 0;
  padding: 0;
}
#logo-image {
  height: 80px;
}
.loading #loading-page {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1500px;
}
.loaded #loading-page {
  height: 0;
  overflow: hidden;
}
.loading #page {
  height: 0;
  overflow: hidden;
}
.loaded #page {
  height: auto;
}
#logo, #research-field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}
#research {
  width: 300px;
}
#search-anime {
  border-radius: 8px;
}
#contents {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: auto;
}
#contents div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  margin: 10px;
  width: 200px;
  overflow: hidden;
}
#contents div img {
  max-height: 280px;
  margin: auto;
  border-radius: 12px;
}
#contents div h4 {
  text-align: center;
  padding: 8px 0;
  height: auto;
}

/*  page 2  */

#contents-anime {
  padding: 20px;
}
#banner-anime {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
#banner-anime img { 
  width: 900px
}
#cover-anime {
  padding: 9px;
}
#cover-anime div{
  display: inline-flex;
  margin-left: 80px;
  margin-right: 60px;
  transform: translateY(-80px);
  float: left;
  overflow: hidden;
  width: 280px;
  justify-content: center;
}
#cover-anime img {
  height: 330px;
}
#status-anime {
  display: flex;
}
#status-anime p {
  background: #3F4044;
  border: hidden;
  color: #fff;
  border-radius: 18px;
  text-align: center;
  padding: 5px;
  margin: 12px 5px;
}
#informations-anime {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
#informations-anime dt {
  margin: 8px 0;
}
#informations-anime dd {
  margin: 3px 15px;
}
#description-anime {
  margin: 0 50px;
  clear: both;
}
#field-trailer {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}